$lightcards: (
    card: (
        padding: '10px',
        margin: '10px',
        background-color: 'var(--light-overlay)',
    ),
    card-header: (
        margin: '10px',
    ),
    card-title: (
        color: 'var(--light-text)',
    ),
    card-body: (
        padding: '10px',
    ),
);

$darkmode: (
    dark: (
        background-color: 'var(--dark-bg)',
    ),
    card: (
        background-color: 'var(--dark-overlay)',
    ),
    card-title: (
        color: 'var(--dark-text)',
    ),
    card-body: (
        padding:'10px',
    ),
);

$universalcards: (
    sm-rounded: (
        border-radius: '.125rem',
    ),
    md-rounded: (
        border-radius: '.375rem',
    ),
    lg-rounded: (
        border-radius: '0.5rem',
    ),
    xl-rounded: (
        border-radius: '1rem',
    ),
    shadow: (
        box-shadow: 'rgba(149, 157, 165, 0.2) 0px 8px 24px',
    ),
    shadow-dark: (
        box-shadow: 'rgba(0, 0, 0, 0.2) 0px 5px 10px',
    ),
);