$lightcards: (
    card: (
        padding: '10px',
        margin: '10px',
        background-color: 'var(--light-overlay)',
    ),
    card-header: (
        margin: '10px',
    ),
    card-title: (
        color: 'var(--light-text)',
    ),
    card-body: (
        padding: '10px',
    ),
);

$darkmode: (
    dark: (
        background-color: 'var(--dark-bg)',
    ),
    card: (
        background-color: 'var(--dark-overlay)',
    ),
    card-title: (
        color: 'var(--dark-text)',
    ),
    card-body: (
        padding:'10px',
    ),
);

$universalcards: (
    sm-rounded: (
        border-radius: '.125rem',
    ),
    md-rounded: (
        border-radius: '.375rem',
    ),
    lg-rounded: (
        border-radius: '0.5rem',
    ),
    shadow: (
        box-shadow: '0 4px 6px -1px rgba(0, 0, 0, 0.3)',
    ),
);