$red: #F15854;
$gray: #4D4D4D;
$blue: #5DA5DA;
$yellow: #DECF3F;
$purple: #B276B2;
$orange: #FAA43A;

$charts: (
    pie: (
        background: (
            conic-gradient($red 4%, $gray 0 8%, $blue 0 17%, $yellow 0 48%, $purple 0 59%, $orange 0),
        ),
        border-radius: '50%',
        width: '50%',
        padding-top: '50%',
        margin:'2.5em auto',
    ),
);
