$columns: (
  column25: (
    flex: "25%",
    max-width: "25%",
  ),
  column33: (
    flex: "33%",
    max-width: "33%",
  ),
  column50: (
    flex: "50%",
    max-width: "50%",
  ),
  column66: (
    flex: "66%",
    max-width: "66%",
  ),
  column75: (
    flex: "75%",
    max-width: "75%",
  ),
  column100: (
    flex: "100%",
    max-width: "100%",
  ),
);
