$columns: (
  col-25: (
    flex: "25%",
    max-width: "25%",
  ),
  col-33: (
    flex: "33%",
    max-width: "33%",
  ),
  col-50: (
    flex: "50%",
    max-width: "50%",
  ),
  col-66: (
    flex: "66%",
    max-width: "66%",
  ),
  col-75: (
    flex: "75%",
    max-width: "75%",
  ),
  col-100: (
    flex: "100%",
    max-width: "100%",
  ),
);
