$flex-classes: (
  flex: (
    display: "flex",
  ),
  row: (
    flex-direction: "row",
  ),
  center: (
    margin-left: "auto",
    margin-right: "auto",
    justify-content: "center",
  ),
  column: (
    flex-direction: "column",
  ),
  grow: (
    flex-grow: "1",
  ),
  wrap: (
    flex-wrap: "wrap",
  ),
  space-between: (
    justify-content: "space-between",
  ),
  space-evenly: (
    justify-content: "space-evenly",
  ),
  flex-0: (
    flex: "0!important",
  ),
  flex-1: (
    flex: "1",
  ),
);
