$grid-repeat: 3, 1fr;
$gridbox: (
    grid: (
        display: 'grid',
    ),
    template: (
        grid-template-columns: repeat($grid-repeat),
    ),
    gap: (
        grid-gap: '0.5em',
    ),
);