$palette: (
    light: (
        bg: hsl(0, 0%, 96%),
        overlay: hsl(0, 0%, 100%),
        text: hsl(0, 0%, 0%), /* #45545f */
        input: hsl(0, 0%, 93%),
    ),
    dark: (
        bg: hsl(0, 0%, 7%),
        overlay: hsl(0, 0%, 13%),
        text: hsl(0, 0%, 73%),
    ),
);