$palette: (
    light: (
        bg: hsl(240, 11%, 98%),
        overlay: hsl(0, 0%, 96%),
        text: hsl(204, 16%, 32%),
    ),
    dark: (
        bg: hsl(0, 0%, 13%),
        overlay: hsl(0, 0%, 18%),
        text: hsl(0, 0%, 73%),
    ),
);