$palette: (
    light: (
        bg: hsl(220, 8%, 92%),
        overlay: hsl(0, 0%, 100%),
        text: hsl(0, 0%, 0%),
    ),
    dark: (
        bg: hsl(219, 24%, 11%),
        overlay: hsl(214, 24%, 17%),
        text: hsl(208, 9%, 72%),
    ),
);