$tables: (
    table: (
        display: table,
        color: var(--light-text),
        width: 100%,
        border-radius: 10px,
        border-collapse: collapse,
        overflow: hidden,
    ),
    darktable: (
        display: table,
        color: var(--dark-text),
        width: 100%,
        border-radius: 10px,
        border-collapse: collapse,
        overflow: hidden,
    ),
    thead: (
        background-color: var(--light-bg),
        border-bottom: 1px solid rgba(000, 000, 000, 0.2),
    ),
    darkthead: (
        background-color: var(--dark-bg),
        border-bottom: 1px solid rgba(255, 255, 255, 0.2),
    ),
    td: (
        padding: 0.5em,
        border-bottom: 1px solid rgba(255, 255, 255, 0.2),
    ),
    darktd: (
        color: var(--dark-text),
        border-bottom: 1px solid rgba(000, 000, 000, 0.2),
    ),
    th: (
        padding: 0.5em,
        border-bottom: 1px solid rgba(255, 255, 255, 0.2),
    ),
    condensed: (
        padding: 0.2em,
    ),
);
